<nav class="navbar navbar-expand-lg " style="background-color: blueviolet;">
  <a class="navbar-brand" href="#">
      <span style="color: white;">My Angular App</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="line" style="margin-top: 5px;"></span>
    <span class="line"></span>
    <span class="line"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav" style="margin-left: auto;">
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']">
              <span class="img-sym" style="color: white;">Home</span>
          </a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['/user-dashboard']">
              <span class="img-sym" style="color: white;">Products</span>
          </a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']">
              <span class="img-sym" style="color: white;">Logout</span>
          </a>
      </li>
    </ul>
  </div>
</nav>
<div class="container" >
  <div class="col-lg-6">
    <form class="form" [formGroup]="ownerForm" autocomplete="off" novalidate (ngSubmit)="createOwner(ownerForm.value)">
      <div class="form-group">
        <label for="exampleInputEmail1">Mobile number</label>
        <input formControlName="mobile_number" maxlength="10" type="number" class="form-control" id="mobile_number" placeholder="Enter Mobile Number">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" formControlName="password" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
      <div class="row mb-4 px-3" style="margin-top: 20px;">
        <small class="font-weight-bold">Need an account? <a class="text " style="color: #007ad9;"
            [routerLink]="['/signUp']">Sign-up</a></small>
      </div>
    </form>
  </div>
</div>

